body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  margin: 3em auto auto 3em;
  /* width: 960px; */
}

h1 {
  font-size: 40px;
  color: #9900ff;
  font-weight: 300;
}

h2 {
  margin-top: 2em;
}

#signup {
  background-color: #eeddff;
  font-size: 20px;
  line-height: 30px;
}

#storytime {
  background-color: #efd8ff;
}

#the-conversation {
  font-size: 20px;
  line-height: 30px;
}

#header {
  margin-bottom: 2em;
}

#legend {
  position: absolute;
  top: 0px;
  left: 11px;
  padding: 10px;
  font-size: 14px;
}

#the-conversation select {
  border: aliceblue;
  font-size: inherit;
}

#sentences, h3 {
  font-size: 16px;
}


.highlight {
  background-color: #ffff66;
}

.hide {
  display: none;
}

.tag {
  cursor: not-allowed;
  background-color: #fcecff;
  padding: 2px;
  margin: 1px;
}

.word:active, .word:focus, .word:hover {
  border: none;
  outline: none;
  background-color: #dfd;
}

.thing:active, .thing:focus, .thing:hover {
  background-color: #fee;
}

.action:active, .action:focus, .action:hover {
  background-color: #ffe;
}

.happening:active, .happening:focus, .happening:hover {
  background-color: #fef;
}

.effect:active, .effect:focus, .effect:hover {
  background-color: #eff;
}

.edge:active, .edge:focus, .edge:hover {
  background-color: #eee;
}

/* column styles */

#left {
  width: 400px;
  float: left;
  background-color: #efd8ff;
  padding: 1em;
}

#right {
  position: relative;
  margin-left: 420px;
  padding-left: 19px;
}

.clear {
  clear: both;
}
