/**
*
*/

.Tabbar {
  /* min AND max seems necessary ? :( else the `Home`
  Tab button gets squished (and all others do not) */
  min-width: 130px;
  max-width: 130px;
  display: flex;
  flex-direction: column;
}

.Tabbar__fillspace {
  background: #ede8ef;
  flex-grow: 1;
}
