/**
*
*/

/* Variables */
$primaryRed: rgb(255, 89, 97);
$primaryBg: rgb(255);
$tabText: rgb(180, 163, 183);
$TabBg: rgb(238, 233, 239);

/* General Layout */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  max-height: 100vh;
}

.App {
  display: flex;
  min-height: 100vh;
  background: $primaryBg;
}

#sidebar {
  display: flex;
  flex: 1;
}

#ripplemap-mount {
  display: flex;
  flex: 2;
  background: linear-gradient(135deg, #502561 0%,#fd5d62 100%);
  justify-content: center;
}



/* HTML ELEMENTS */

input {
  /* width: 100% !important; */
  padding: 1rem;
  border: 1px solid #777;
}


/* Decorations */

.highlight {
  background-color: #ffff66;
}

.hide {
  display: none;
}


/* ========= Tags =========== */

#controls {
  /*max-width: 200px; */
  display: flex;
  flex-direction: column; 
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

#addtag { /* The form container box for dropdown + btn*/ 
  align-self: flex-end;
}

#btn_add_tag {
  background: rgba(255, 255, 255, 0.9);
  border: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.1s ease;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);
  outline: none;

  &:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42);
  }

  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

/*Tag box in top right*/

#tag-box {
  display: flex;
  flex-direction: column;
  color: #dfdfdf;
  opacity: 0.5;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 0;
  display: 
}

#tagnames {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.tag {
  text-align: right;
  cursor: pointer;
  padding: 0.25rem 0;
}

