/**
* Main CSS table of contents
- Variables
- Text Styling
- General Layout
- Tags
- Highlighting Stuff
- Helpers

*/

/*** # Variables # ***/

$primaryRed: rgb(255, 89, 97);
$primaryBg:  rgb(255, 255, 255);
$tabText:    rgb(180, 163, 183);
$TabBg:      rgb(238, 233, 239);

/* Text / general colours */
$tRed:       #f32938;
$tGreen:     #00af4c;
$tBlue:      #009edb;
$tYellow:    #ffd600;


/*** # General Layout # ***/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  max-height: 100vh;
}

.App {
  display: flex;
  min-height: 100vh;
  background: $primaryBg;
}

#sidebar {
  display: flex;
  flex: 1;
}

#ripplemap-mount {
  display: flex;
  flex: 2;
  background: linear-gradient(135deg, #502561 0%,#fd5d62 100%);
  justify-content: center;
}


/*** # HTML ELEMENTS # ***/
input {
  /* width: 100% !important; */
  padding: 1rem;
  border: 1px solid #999;
}


/* Decorations */



/*** # Tags # ****/

#controls {
  /*max-width: 200px; */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

#addtag { /* The form container box for dropdown + btn*/
  align-self: flex-end;
}

#btn_add_tag {
  background: rgba(255, 255, 255, 0.9);
  border: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.1s ease;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);
  outline: none;
  display: none;

  &:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42);
  }

  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

/*Tag box in top right*/

#tag-box {
  display: flex;
  flex-direction: column;
  color: #dfdfdf;
  opacity: 0.5;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 0;
}

#tagnames {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.tag_icon {
  display: none;                /* ! above .tag -> to show on hover.*/
}

.tag {
  text-align: right;
  cursor: pointer;
  padding: 0.25rem 0;
  align-self: flex-end;
  padding: 5px;
  border-radius: 3px;

  &:hover {
    background: #ffd600;
    color: #111111;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.32);
  }

  /* display the tags icon on hover only. */
  &:hover > .tag_icon {
    display: inline;
  }

  &:active {
    background: #ffd600;
    color: #111111;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}


/* Highlighting Stuff */

.highlight {
  background-color: #ffff66;
}

.word:active, .word:focus, .word:hover {
  border: none;
  outline: none;
  background-color: #dfd;
}

.thing:active, .thing:focus, .thing:hover {
  background-color: #fee;
}

.action:active, .action:focus, .action:hover {
  background-color: #ffe;
}

.happening:active, .happening:focus, .happening:hover {
  background-color: #fef;
}

.effect:active, .effect:focus, .effect:hover {
  background-color: #eff;
}

.edge:active, .edge:focus, .edge:hover {
  background-color: #eee;
}





/*** # HELPERS! # ***/

/* Padding + Margin Helpers */

.pl_1 {
  padding-left: 1rem;
}
.pr_1 {
  padding-right: 1rem;
}

.hide {
  display: none;
}
